<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>Главная</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div sec:authorize="isAnonymous()">
    <h4><a href="/login">Войти</a></h4>
    <h4><a href="/registration">Зарегистрироваться</a></h4>
</div>
    <h4 sec:authorize="isAuthenticated()" th:fragment="out"><a href="/logout">Выйти</a></h4>
  <h4><a href="/user">Страница пользователя (только пользователь)</a></h4>
  <h4 sec:authorize="isAuthenticated()"><a href="/admin">Пользователи (только админ)</a></h4>
</body>
</html>